* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 320px;
  margin: 80px 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 1440px) {
  body .wrapper {
    width: 70vw;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .wrapper .card {
  height: 400px;
  padding: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1440px) {
  body .wrapper .card {
    height: 500px;
    width: 240px;
  }
}

body .wrapper .card img {
  margin: 15px 0;
}

body .wrapper .card h2 {
  font-family: Big Shoulders Display;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #f2f2f2;
  margin: 18px 0;
}

body .wrapper .card p {
  color: rgba(255, 255, 255, 0.75);
  font-family: Lexend Deca;
  line-height: 1.6;
  margin: 25px 0px 30px 0px;
}

@media (min-width: 1440px) {
  body .wrapper .card p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2rem;
    width: 210px;
  }
}

body .wrapper .card button {
  background-color: #f2f2f2;
  padding: 14px 10px;
  margin: 10px 0;
  border-radius: 30px;
  width: 150px;
  border: 1px solid transparent;
  font-family: Lexend Deca;
  font-size: 1rem;
}

@media (min-width: 1440px) {
  body .wrapper .card button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

body .wrapper .card:nth-child(1) {
  background-color: #e38826;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: 1440px) {
  body .wrapper .card:nth-child(1) {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}

body .wrapper .card:nth-child(1) button {
  color: #e38826;
}

body .wrapper .card:nth-child(1) button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

body .wrapper .card:nth-child(2) {
  background-color: #006970;
}

body .wrapper .card:nth-child(2) button {
  color: #006970;
}

body .wrapper .card:nth-child(2) button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

body .wrapper .card:nth-child(3) {
  background-color: #004241;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 1440px) {
  body .wrapper .card:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}

body .wrapper .card:nth-child(3) button {
  color: #004241;
}

body .wrapper .card:nth-child(3) button:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

body .attribution {
  margin-bottom: 20px;
  font-family: Lexend Deca;
}
/*# sourceMappingURL=style.css.map */