$primaryBrightOrange: hsl(31, 77%, 52%);
$primaryDarkCyan: hsl(184, 100%, 22%);
$primaryVeryDarkCyan: hsl(179, 100%, 13%);
$neutralTransparentWhite: hsla(0, 0%, 100%, 0.75);
$neutralVeryLightGray: hsl(0, 0%, 95%);

$mobile: 375px;
$desktop: 1440px;

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	justify-content: center;
	align-items: center;

	.wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 320px;
		margin: 80px 30px;
		flex-grow: 1;

		@include desktop {
			width: 70vw;
			height: 100%;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.card {
			height: 400px;
			padding: 40px;
			justify-content: flex-start;
			align-items: flex-start;
			display: flex;
			flex-direction: column;

			@include desktop {
				height: 500px;
				width: 240px;
			}

			img {
				margin: 15px 0;
			}

			h2 {
				font-family: Big Shoulders Display;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 2.5rem;
				color: $neutralVeryLightGray;
				margin: 18px 0;
			}

			p {
				color: $neutralTransparentWhite;
				font-family: Lexend Deca;
				line-height: 1.6;
				margin: 25px 0px 30px 0px;

				@include desktop {
					display: flex;
					justify-content: center;
					align-items: flex-start;
					margin-top: 2rem;
					width: 210px;
				}
			}

			button {
				background-color: $neutralVeryLightGray;
				padding: 14px 10px;
				margin: 10px 0;
				border-radius: 30px;
				width: 150px;
				border: 1px solid transparent;
				font-family: Lexend Deca;
				font-size: 1rem;

				@include desktop {
					display: flex;
					justify-content: center;
					align-items: flex-start;
					margin-top: 60px;
					margin-bottom: 20px;
				}
			}
		}

		.card:nth-child(1) {
			background-color: $primaryBrightOrange;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;

			@include desktop {
				border-top-right-radius: 0px;
				border-bottom-left-radius: 10px;
			}

			button {
				color: $primaryBrightOrange;

				&:hover {
					background-color: transparent;
					color: $neutralTransparentWhite;
					border: 1px solid $neutralTransparentWhite;
					cursor: pointer;
				}
			}
		}

		.card:nth-child(2) {
			background-color: $primaryDarkCyan;

			button {
				color: $primaryDarkCyan;

				&:hover {
					background-color: transparent;
					color: $neutralTransparentWhite;
					border: 1px solid $neutralTransparentWhite;
					cursor: pointer;
				}
			}
		}

		.card:nth-child(3) {
			background-color: $primaryVeryDarkCyan;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;

			@include desktop {
				border-top-right-radius: 10px;
				border-bottom-left-radius: 0px;
			}

			button {
				color: $primaryVeryDarkCyan;

				&:hover {
					background-color: transparent;
					color: $neutralTransparentWhite;
					border: 1px solid $neutralTransparentWhite;
					cursor: pointer;
				}
			}
		}
	}
	.attribution {
		margin-bottom: 20px;
		font-family: Lexend Deca;
	}
}
